*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    max-height: max-content;
    display:grid;
    grid-template-columns: auto auto auto;
    row-gap:80px;
    column-gap: 80px;
    justify-content: center;
}

.box-img{
    width:300px;
    height: 200px;
}

.img{
    width:300px;
    height:200px;
}

