*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    max-height: max-content;
    display:grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
}

